<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>{{ config.title }}</title>
    {% endblock title %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.svg">
    <link rel="stylesheet" href="{{ get_url(path='theme.css') }}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}
    <header class="nav-bar">
        {% include "_header.html" %}
    </header>
    <div class="frontpage">
        {% block frontpage %}
        <section class="text-center">
            <h1 class="frontpage-heading">
                Go back to your roots
            </h1>
            <img class="frontpage-icon" src="/{{ get_url(path=config.extra.theme_frontpage_icon_path) }}">
            <div class="div-centered">
                <h3 class="frontpage-heading-text">Think about it</h3>
            </div>
        </section>

        <img class="frontpage-img" src="/{{ get_url(path=config.extra.theme_frontpage_img_path) }}">
        {% endblock frontpage %}

        <div id="buttonScroll" class="frontpage-explore-more text">
            Faire défiler ⇩
        </div>
    </div>
    {% endblock header %}

    <main id="main">
        <div class="content text">
            {% block content %}
            {{ section.content | safe }}
            {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock sidebar %}
    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            Jane Doe © 2024 — <a href="mailto:contact@example.com">contact@example.com</a>
        </small>
    </footer>
    {% endblock footer %}
    {% block main_js %}
    <script async src="{{ get_url(path='js/main.js') }}"></script>
    {% endblock main_js %}
</body>
</html>