{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.svg">
    <link rel="stylesheet" href="{{ get_url(path='theme.css') }}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}
    <header class="nav-bar">
        {{ macros::render_header() }}
    </header>
    <div class="frontpage">
        {% block frontpage %}
        <section class="text-center">
            <h1 class="frontpage-heading">
                Go back to your roots
            </h1>
            <img class="frontpage-icon" src="{{ get_url(path=config.extra.theme_frontpage_icon_path) }}">
            <div class="div-centered">
                <h3 class="frontpage-heading-text">Think about it</h3>
            </div>
        </section>

        <img class="frontpage-img" src="{{ get_url(path=config.extra.theme_frontpage_img_path) }}">
        {% endblock frontpage %}

        <div id="buttonScroll" class="frontpage-explore-more text">
            Faire défiler ⇩
        </div>
    </div>
    {% endblock header %}

    <main id="main">
    {% block toc %}
        {% if section.toc %}
        {% set toc = section.toc %}
        {% elif page.toc %}
        {% set toc = page.toc %}
        {% endif %}
        {% if toc %}
        <div class="toc">
            <div class="toc-sticky">
                {% for h in toc %}
                <div class="toc-item">
                    <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                </div>
                {% if h.children %}
                {% for h2 in h.children %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h2.permalink | safe}}"><small>{{ h2.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <script asyn src="/js/toc.js"></script>
    {% endblock toc %}

        <div class="content text">
            {% block content %}
            {{ section.content | safe }}
            {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock sidebar %}
    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            Jane Doe © 2023 — <a href="mailto:contact@example.com">contact@example.com</a>
        </small>
    </footer>
    {% endblock footer %}
    <script asyn src="/js/main.js"></script>
</body>
</html>