{% extends "roots/templates/index.html" %}

{% block frontpage %}
<section class="text-center">
    <h1 class="frontpage-heading">Sylvaine Aussiette</h1>
    <div class="div-centered">
        <h3 class="frontpage-heading-text">Biographe</h3>
        <img class="frontpage-icon" src="img/feather.svg">
    </div>
</section>
{% endblock frontpage %}

{% block footer %}
<footer>
    <small class="subtext">
        Sylvaine AUSSIETTE © 2023 — <a href="{{ get_url(path='@/tarifs.md') }}">Mentions légales</a>
</footer>
{% endblock footer %}