{% extends "roots/templates/index.html" %}

{% block head %}
    <meta name="description" content="Sylvaine Aussiette, Écrivaine biographe. Toute existence mérite d’être racontée. Je mets mon écriture au service de votre récit.">
{% endblock head %}


{% block frontpage %}
<div class="frontpage-frame">
    <section class="frontpage-left-panel text-center">
        <h1 class="heading">Sylvaine Aussiette</h1>
        <img class="frontpage-left-panel-img" alt="photo de profile" srcset="img/profile-480.webp 480w, img/profile-800.webp 800w" sizes="(max-width: 800px) 480px, 800px" src="img/profile-800.webp"></img>
        <div class="div-centered">
            <h2 class="sub-heading">Biographe</h2>
            <img class="frontpage-left-panel-icon" alt="image de plume" src="img/feather.svg">
        </div>
    </section>

    <div class=frontpage-right-panel>
        <div class=frontpage-text-box>
            <h3 class="text-center">Pourquoi faire appel à un biographe ?</h3>
            <ul>
                <li><i>pour vous-même :</i> gardez la mémoire des événements heureux et douloureux qui vous ont façonné, et faites connaître les lieux et les personnes qui ont compté pour vous.</li>
                <li><i>pour autrui :</i> offrez à un de vos proches la possibilité de raconter sa vie afin de favoriser la transmission de l’histoire familiale aux générations suivantes.</li>
            </ul>
            <p class="bold-text text-center">Je mets mon écriture au service de votre récit.</p>
        </div>
        <p class="bold-text text-center">
        <a class="contact-button" href="mailto:%63%6f%6e%74%61%63%74%40%6c%61%72%61%6d%75%72%65%64%65%73%6d%6f%74%73%2e%66%72">Me contacter</a>
        </p>
    </div>
</div>
{% endblock frontpage %}

{% block footer %}
<footer class="subtext">
    <div class="no-wrap">
        Sylvaine AUSSIETTE © 2023
    </div>
    <div class="footer-links">
        <a href="{{ get_url(path='@/legal.md') }}">
            Mentions légales
        </a>
        <a href="{{ get_url(path='@/cgv.md') }}">
            CGV
        </a>
    </div>
</footer>
{% endblock footer %}

{% block toc %}
{% endblock toc %}
